receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
  logging:
    loglevel: debug

  elasticsearch/logs:
    endpoints: [https://elasticsearch:9200]
    user: elastic
    password:
    tls:
      insecure_skip_verify: true
    mapping:
      mode: ecs

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [elasticsearch/trace]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [elasticsearch/logs]
