receivers:
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:

exporters:
  otlp/apm:
    endpoint: apm-server:4317
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/apm]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/apm]
